<footer id="site-info" role="contentinfo">
  <div class="wrap">
    <p id="foot-logo">
      <a class="top" href="#page">Voltar para o topo</a>
      <a class="logo" href="http://mozilla.org" rel="external">Mozilla</a>
    </p>
   
    <p id="colophon">Exceto quanto possuir uma <a href="http://www.mozilla.org/about/legal.html#site" rel="external">observação</a>, o conteúdo deste site está sob a licença <a href="http://creativecommons.org/licenses/by-sa/3.0/" rel="external license">Creative Commons Attribution Share-Alike License v3.0</a> ou a versão mais recente.    </p>
   
    <nav id="nav-meta">
      <ul role="navigation">
        <li><a href="http://www.mozilla.org/contact/" rel="external">Entre em contato</a></li>
        <li><a href="http://www.mozilla.org/privacy" rel="external">Política de Privacidade</a></li>
        <li><a href="http://www.mozilla.org/about/legal.html" rel="external">Avisos Legais</a></li>
        <li><a href="http://www.mozilla.org/legal/fraud-report/index.html" rel="external">Denunciar abuso de marcas registradas</a></li> 
      </ul>
    </nav>
  </div>
</footer>

<script src="//mozorg.cdn.mozilla.net/tabzilla/tabzilla.js"></script>